    <footer>
        <div class="assurance">
            <p><i class="fa-solid fa-truck-fast"></i>Paiement Sécurisé</p>
            <p><i class="fa-solid fa-lock"></i>Ma Livraison Offerte</p>
            <p><i class="fa-solid fa-phone"></i>Service Client en Direct</p>
        </div>
        <div class="container">
            <p>Copyrith et mentions légales.</p>
        </article> 
    </div>
    </footer>   