    <header class="container">
        <div class="topheader">
            <a href="#" class="logo"><img src="img/nike-xxl.png" alt="Logo Nike"></a>
           <div class="rightTopoMenu">
            <i class="fa-solid fa-cart-shopping"></i>
            <span id="openNavBtn">&#9776;</span>
           </div> 
            
        </div>
        
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="#">Societé</a></li>
                <li><a href="#">SAV</a></li>
            </ul>
        </nav>
        
    </header>

    <div id="sidenav" class="sidenav">
        <a href="javascript:void(0)" id="closeNavBtn" class="closeNavBtn">&times;</a>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Produits</a></li>
            <li><a href="#">Societé</a></li>
            <li><a href="#">SAV</a></li>
        </ul>
    </div>
    <div>